@font-face {
    font-family: 'Bukvarnaya';
    src: url('../fonts/Bukvarnaya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BukvarnayaBold';
    src: url('../fonts/BukvarnayaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --white: #fff;
    --black: #2B2A29;
}

body {
    font-family: 'Bukvarnaya', sans-serif;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}

.container {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

video {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.site-nav-link {
    color: var(--white);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding: 12px 20px;
}

.header-middle {
    gap: 32px;
}

.header-top {
    z-index: 3;
    position: relative;
    padding: 11px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.09);
}

.logo {
    padding: 5px 10px;
}

.soc-list {
    gap: 16px;
}

.soc-list-item {
    padding: 5px;
}

.soc-nav {
    margin-left: auto;
    margin-right: 9px;
}

.main-nav {
    margin-left: 31px;
}

.mobile-nav {
    padding: 5px 10px;
    cursor: pointer;
}

.mobile-nav-container {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 312px;
    background: var(--black);
    width: 100%;
    bottom: 0;
    padding: 36px 16px 56px;
}

.mobile-nav-container .close-nav {
    left: 176px;
    position: relative;
}

.mobile-nav-list {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-nav-link {
    color: var(--white);
    font-family: Bukvarnaya, sans-serif;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding: 12px 20px;
    display: block;
}
.soc-nav-mobile {
    position: absolute;
    bottom: 56px;
    left: 30px;
}